<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872988928785-6p358r03ae1268a58ceacbp002e0rntb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872988928785-6p358r03ae1268a58ceacbp002e0rntb</string>
	<key>API_KEY</key>
	<string>AIzaSyC0DkMzuLJjGN3hIpuT5yA_0MQ3IRwfdqs</string>
	<key>GCM_SENDER_ID</key>
	<string>872988928785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ongraph.com.Himanshu-ChatApplication</string>
	<key>PROJECT_ID</key>
	<string>himanshuchatapplication</string>
	<key>STORAGE_BUCKET</key>
	<string>himanshuchatapplication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872988928785:ios:15309e6ce86e0cf15b3ab0</string>
</dict>
</plist>